httpx==0.28.1
playwright==1.45.0
tenacity==8.2.2
pydantic==2.5.2
aiofiles~=23.2.1
aiosqlite>=0.21.0
pyexecjs==1.5.1
pyhumps>=3.8.0
cryptography>=45.0.7
python-dotenv==1.0.1
parsel==1.9.1
requests==2.32.3
xhshow>=0.1.9
sqlalchemy>=2.0.43
aiomysql==0.2.0
Pillow>=10.0.0
opencv-python>=4.8.0
jieba==0.42.1
matplotlib==3.9.0
wordcloud==1.9.3
openpyxl>=3.1.2
motor>=3.3.0
redis~=4.6.0
typer>=0.12.3
pandas==2.2.3
